extends layout

block content
	p
		| #{description}
		
	form(action='',method='post')
		table.inputTable
			-if(_input_values && _input_values.length > 0){
				each item in _input_values
					tr
						td
							label(for=item.key) #{item.name}
						td
							input(id=item.name,type='text',value=item.value,name=item.name)

			-}else if(formfields){
				each item in formfields
					tr
						td
							label(for=item) #{item}
						td
							input(id=item,type='text',name=item)

			-}

			tr
				td
					label(for='format') format
				td
					select(id='format',name='format')
						formatlist = [ 'html', 'GeoJSON', 'esriJSON']
							for item in formatlist
								option #{item}
			tr
				td
					|name
				td
					input(id='name',type='text',value=name,name='name')	


		div(data-role='fieldcontain')   
			input(type='submit',value='Submit',data-transition='fade', data-theme='c')

	
	-if(infoMessage){
		div.infoMessage
			|#{infoMessage}
	-}
	-if(errorMessage){
		div.errorMessage
			|#{errorMessage}
	-}


block sidebar
	.widget
		h1 Results
		.results
			- if (featureCollection){
				-if(featureCollection.features){
					i # records: #{featureCollection.features.length}
					each val, key in featureCollection.features
						div.propertyGroup
							each ival, ikey in val.properties
								-if(ival && ival.coordinates){
									each egval, egkey in ival
										div.geometry #{ikey}: #{egkey}: #{egval}
								-}else{
									div.property #{ikey}: #{ival}
								-}
								
							-if(val.geometry){
								-if(val.geometry.geometries){
									each mgval, mgkey in val.geometry.geometries
										-if(mgval.coordinates){
											div.geometries #{mgval.type}: #{mgval.coordinates}
										-}
								-}else{
									each gval, gkey in val.geometry
										div.geometry geometry: #{gkey}: #{gval}
								-}
							-}
							
				-}else{
					div.propertyGroup No results found
				-}
			-}