extends layout

block content
	p Print API
	p
		| Enter information below to generate outputs
	form(action='',method='post')
		table.inputTable
			tr
				td
					label(for='url') URL
				td
					input(id='url',type='text',value=url,placeholder='http://www.someurl.com/index.php?matador=yes',name='url')

			tr
				td
					label(for='delay') Page Load Delay (how long to wait before trying to capture page state, in milliseconds)
				td
					input(id='delay',type='text',value=delay,placeholder='3000',name='delay')


			tr
				td
					label(for='imageformat') Image Format
				td
					select(id='imageformat',name='imageformat')
						formatlist = [ 'png', 'pdf', 'jpg', 'gif']
							for item in formatlist
								option #{item}

			tr
				td
					label(for='format') Response Format
				td
					select(id='format',name='format')
						formatlist = ['html','json']
							for item in formatlist
								option #{item}
			
			tr
				td
					label(for='selector') Selector (#myId or .myClass) to crop
				td
					input(id='selector',type='text',value=selector,placeholder='#mapDiv',name='selector')
			

			tr
				td
					label(for='codeblock') Pre-execution Javascript (Code to run before the image is caputured)
				td
					textarea(id='codeblock',placeholder='map.setExtent(myExtent);',name='codeblock')
						|#{codeblock}

			tr
				td
					label(for='pedelay') Pre-execution Delay (how long to wait after running pre-execution javascript, in milliseconds)
				td
					input(id='pedelay',type='text',value=pedelay,placeholder='3000',name='pedelay')
			

		div(data-role='fieldcontain')   
			input(type='submit',value='Submit',data-transition='fade', data-theme='c')

	
	-if(infoMessage){
		div.infoMessage
			|#{infoMessage}
	-}
	-if(errorMessage){
		div.errorMessage
			|#{errorMessage}
	-}


block sidebar
	.widget
		h1 Results
		.results
			- if (imageLink){
				a(href="output/" + imageLink, target='_blank') #{imageLink}

				div.preview
					img(src="output/" + imageLink)
			-}
			