extends ../../../shared_views/layout

block content
	p
		| Below is a list of columns and column data types for this table

	table
		thead
			tr
				th Columns
		tbody
			-if(featureCollection && featureCollection.columns){
				- each item in featureCollection.columns
					tr
						td= item.column_name + " (" + item.data_type + ")"
						-if(item.data_type == "raster") 
			-}else{
				tr
					td 
						| No information found for this table.
			-}
	
	-if(SRID){
		p(style="color:green")
			| SRID is #{SRID}
	-}

	-if(infoMessage){
		div.infoMessage
			|!{infoMessage}
	-}
	-if(errorMessage){
		div.errorMessage
			|#{errorMessage}
	-}


block sidebar
	.widget
		h2 Operations
		div.links
			- if(featureCollection && featureCollection.supportedOperations){
				- each operation in featureCollection.supportedOperations
					a(href=operation.link) #{operation.name}
			-}
				