extends ../../../shared_views/layout

block content
	h2 #{table}

	div.section
		div.headingTitle Operations
		div.links
			- if(featureCollection && featureCollection.supportedOperations){
				- each operation in featureCollection.supportedOperations
					a(href=operation.link) #{operation.name}
			-}

	div.section
		div.headingTitle Columns
		span Below is a list of columns and column data types for this table.

		div.spacer

		-if(featureCollection && featureCollection.columns){
			- each item in featureCollection.columns
				div.littleSpace= item.column_name + " (" + item.data_type + ")"
				-if(item.data_type == "raster") 
		-}else{
			div.littlespace No information found for this table.
		-}
	
	-if(SRID){
		p(style="color:green")
			| SRID is #{SRID}
	-}


	div.section
		h3 Code Sample
		span Here's how to hit this endpoint programatically to get an array of these column names

		h4 POST
		pre.codePreview
			|//define POST arguments
			|var postArgs = {
			|    format: 'geojson'
			|};
			|&nbsp;
			|//jQuery JSONP POST
			|$.getJSON('#{link}?callback=?', postArgs).done(function (data) {
			|    //Callback on success
			|    console.log(data);
			|})

	- var requestSample = ["format=geojson"]
	-if(search)
		- requestSample.push("search=" + encodeURIComponent(search))
	h4 GET
	pre.codePreview
		|#{link + "?" + requestSample.join("&")}

	h4 GeoJSON Response
	pre.codePreview
		|{
		|   "columns": [
		|     {
		|          "column_name": "gid",
		|          "data_type": "integer"
		|     },
		|     {
		|          "column_name": "longitude",
		|          "data_type": "numeric"
		|     }
		|  ]
		|  "supportedOperations": [
		|     {
		|          "link": "#{link}/query",
		|          "name": "Query"
		|     },
		|     {
		|          "link": "#{link}/dynamicMapLanding",
		|          "name": "Dynamic Map Service"
		|     },
		|     {
		|          "link": "#{link}/topojson",
		|          "name": "TopoJSON"
		|     } 
		|   ]
		|}

	-if(infoMessage){
		div.infoMessage
			|!{infoMessage}
	-}
	-if(errorMessage){
		div.errorMessage
			|#{errorMessage}
	-}


block sidebar
	.widget
	

				