extends ../../../shared_views/layout

block content
	h2 Table Listing

	div.codeBlockWrapper
		div.headingTitle Code Block
		span Click to view the sample code
		div.sampleCodeButtonWrapper
			div.sampleCodeButton Sample Code
	
	div.headingTitle Table name
	span A list of your PostGres Tables
	- if(featureCollection){
		- var currentLetter = "";
		- var wroteItOut = "";
			- each item in featureCollection
				- if(currentLetter != item.substring(0,1)){
					- currentLetter = item.substring(0,1)
						div.bigSpace
							a(href="/services/tables/" + item) #{item}
				-} else{
					div.littleSpace
						a(href="/services/tables/" + item) #{item}
				-}	
	-}

	- var requestSample = []
	-if(search)
		- requestSample.push("search=" + encodeURIComponent(search))


	-if(requestSample.length > 0){
		h2: |Request Sample
		div#requestSample
			|#{"http://" + host + path + "?" + requestSample.join("&")}
	-}

	-if(infoMessage){
		div.infoMessage
			|#{infoMessage}
	-}
	-if(errorMessage){
		div.errorMessage
			|#{errorMessage}
	-}
						


block sidebar
	.widget