extends ../../../shared_views/layout

block content
    h4 Pre-baked Image Tile Services
    .results
        - if (featureCollection && featureCollection.length > 0){

            script.
                var mapUrl = "#{featureCollection[0].link}";
                var zoom = "#{featureCollection[0].center.zoom}";
                var lat = "#{featureCollection[0].center.lat}";
                var lng = "#{featureCollection[0].center.lng}";



            //Map Div
            div#map(style='height:400px;width:400px;')


            script.
                var map = L.map('map');

                L.tileLayer('http://{s}.tiles.mapbox.com/v3/mapbox.world-blue/{z}/{x}/{y}.png').addTo(map);

                //Add preview
                L.tileLayer(mapUrl + '/{z}/{x}/{y}.png').addTo(map);

                // zoom the map to the rectangle bounds
                map.setView(new L.LatLng(lat, lng), zoom);

        -}

        div.section
            h3 Code Sample
            span Here's the image tile endpoint:

            pre.codePreview
                | #{featureCollection[0].link}/{z}/{x}/{y}.png;

            div.helpLink
                | Get more help with
                a(href='http://leafletjs.com/',target='_blank') Leaflet


    -if(infoMessage){
        div.infoMessage
            | #{infoMessage}
    -}
    -if(errorMessage){
        div.errorMessage
            | #{errorMessage}
    -}